
<div class="container__articles">

	<div class="articles__main">
		<app-big-card
			id="1"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
			cardTitle="NOVO TITULO PASSADO NO HOME"
			cardDescription="Nova descricao passada para o big card pelo home component"
			></app-big-card>
	</div>

	<div class="articles__others">
		<app-small-card
			id="2"
			fotoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
			cardTitle="TITULO DO SMALL CARD"
			></app-small-card>
		<app-small-card
			id="3"
			fotoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
			cardTitle="TITULO DO SMALL CARD"
			></app-small-card>

	</div>
</div>
<hr>
